{{- if (eq .chezmoi.os "linux") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# Define colors
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
RED='\033[0;31m'
NC='\033[0m' # No Color

# Function to print a message with a color
print_msg() {
	local msg=$1
	local color=$2
	echo -e "${color}${msg}${NC}"
}

print_msg "Homebrew ========================================================" $YELLOW

which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew="/home/linuxbrew/.linuxbrew/bin/brew"

# 3. Install Homebrew packages
$brew install aws-rotate-key \
                asdf \
                git-crypt \
                warrensbox/tap/tfswitch \
                flyctl \
                awsebcli

$brew update && $brew upgrade

echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> /home/russell/.bash_profile
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{- end -}}
