{{- if (lookPath "code") -}}
#!{{ lookPath "bash" }}

# Define colors
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
RED='\033[0;31m'
NC='\033[0m' # No Color

# Function to print a message with a color
print_msg() {
	local msg=$1
	local color=$2
	echo -e "${color}${msg}${NC}"
}

print_msg "VSCode extensions ========================================================" $YELLOW

EXTENSIONS=(
    redhat.ansible \
    dhoeric.ansible-vault \
    aws-scripting-guy.cform \
    ms-azuretools.vscode-docker \
    mitchdenny.ecdc \
    eamodio.gitlens \
    hashicorp.terraform \
    oderwat.indent-rainbow \
    ms-kubernetes-tools.vscode-kubernetes-tools \
    esbenp.prettier-vscode \
    ms-python.vscode-pylance \
    ms-python.python \
    redhat.vscode-yaml \
    samuelcolvin.jinjahtml \
    bmalehorn.vscode-fish \

{{- if $.personal }}
    signageos.signageos-vscode-sops
{{- end }}
)

for EXTENSION in ${EXTENSIONS[@]}
    do
        code --install-extension $EXTENSION --force
    done
{{- end }}