{{- $personal := false -}}{{/* true if this is a personal machine */}}
{{- $personal = promptBool "personal" -}}
{{- $os := "" }}
{{- $work := false -}}{{/* true if this is a work machine */}}
{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}

{{- if $personal -}}
  {{- $personal = true -}}
  {{- $work = false -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- else -}}
  {{- $personal = false -}}
  {{- $work = true -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- end -}}

{{ if or (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.id "fedoraremixforwsl") -}}
  # Fedora (Workstation or WSL Remix)
  {{ $os = "fedora" }}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
  # Feodra Remix in WSL
  {{ $os = "ubuntu" }}
{{ end -}}

{{ if eq .chezmoi.os "android" -}}
  # Android
  {{ $os = "android" }}
{{ end -}}

format: yaml
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  personal: {{ $personal }}
  work: {{ $work }}
  agekey: {{ $agekey }}
  kubernetes: {{ $kubernetes }}
  os: {{ $os | quote }}

encryption: age

{{- if $agekey }}
age:
  identity: {{ .chezmoi.homeDir }}/.config/age/keys.txt
  recipient: age1knsdzqjgfty7fghdvk8ayr4kmj9kre8nqcg5tvjpjfy6m7a5ap8srhjd6k
{{- end }}
