{
  "$schema": "https://opencode.ai/config.json",
  "agent": {
    "general": {
      "disable": true
    },
    "explore": {
      "disable": true
    }
  },
  "lsp": {
    "typescript": {
      "disabled": false,
      "command": ["typescript-language-server", "--stdio"]
    }
  },
  "plugin": [],
  "provider": {
    "llama-swap": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama-swap (local)",
      "options": {
        "baseURL": "https://litellm.russhome.xyz/v1",
        "apiKey": "{{ (onepasswordItemFields "Opencode LiteLLM API" "Dotfiles").api_key.value }}"
      },
      "models": {
        "gemma-4-26b-a4b": {
          "name": "Gemma 4 26B A4B (local)",
          "options": {}
        },
        "gemma-4-31b": {
          "name": "Gemma 4 31B (local)",
          "options": {}
        },
        "gpt-120b": {
          "name": "GPT 120B (local)",
          "options": {}
        },
        "gpt-120b-thinking": {
          "name": "GPT 120B High Thinking (local)",
          "options": {}
        },
        "qwen-3.6-35b": {
          "name": "Qwen 3.6 35B A3B (local)",
          "options": {}
        },
        "qwen3.6-35b-mtp": {
          "name": "Qwen 3.6 35B MTP (local)",
          "options": {}
        },
        "qwen3.6-27b-mtp": {
          "name": "Qwen 3.6 27B MTP (local)",
          "options": {}
        },
        "qwen3-coder-next": {
          "name": "Qwen3 Coder Next (local)",
          "options": {}
        },
        "gemma3-4b-FLM": {
          "name": "Gemma 3 4B FLM (local)",
          "options": {}
        },
	"qwen3.5-122b": {
	  "name": "Qwen 3.5 122B-A10B (local)",
	  "options": {}
        }
      }
    }
  },
  "mcp": {
    "perplexity": {
      "enabled": true,
      "type": "local",
      "command": ["npx", "-y", "@perplexity-ai/mcp-server"],
      "environment": {
        "PERPLEXITY_API_KEY": "{{ (onepasswordItemFields "perplexity" "Dotfiles").api_key.value }}"
      }
    }
  }
}
