# Global Config Settings
{{- if $.work }}
Include work.conf
{{ else }}
Include personal.conf
{{ end }}
host github.com
    User git

host gh-personal
    HostName github.com
    User git
    IdentityFile ~/.ssh/gh_personal
    IdentitiesOnly yes
