set UID (id -u (whoami))
set -gx XDG_CACHE_HOME "$HOME/.cache"
set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME "$HOME/.local/share"
set -gx XDG_STATE_HOME "$HOME/.local/state"

set -gx AQUA_ROOT_DIR "$XDG_DATA_HOME/aqua"

set -gx LESSHISTFILE "$XDG_CACHE_HOME/less/history"

set -gx TERMINFO "$XDG_DATA_HOME/terminfo"
set -gx TERMINFO_DIRS "$TERMINFO:/usr/share/terminfo"

set -gx GOPATH {{ .chezmoi.homeDir }}/.go

set -gx CARGO_HOME "{{ .chezmoi.homeDir }}/cargo"
set -gx GNUPGHOME "$XDG_DATA_HOME/gnupg"
set -gx npm_config_cache "$XDG_CACHE_HOME/npm"

set -gx BROWSER "wslview"

set -gx HOMEBREW_NO_ANALYTICS 1
set -gx HOMEBREW_NO_AUTO_UPDATE 1
set -gx HOMEBREW_NO_INSTALL_CLEANUP 1
set -gx HOMEBREW_NO_ENV_HINTS 1

set -gx PNPM_HOME "/home/{{ .chezmoi.username }}/.local/share/pnpm"
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH "$PNPM_HOME" $PATH
end