{{- if $.kubernetes }}
alias k "$AQUA_ROOT_DIR/bin/kubectl"
alias kc "$AQUA_ROOT_DIR/bin/kubecolor"
alias kubectx 'kubectl ctx'
alias kubens 'kubectl ns'
{{- end }}

alias cat "$AQUA_ROOT_DIR/bin/bat"
alias dig "$AQUA_ROOT_DIR/bin/doggo"
alias df "$AQUA_ROOT_DIR/bin/duf"
alias tldr "$AQUA_ROOT_DIR/bin/tealdeer"
alias watch "$AQUA_ROOT_DIR/bin/viddy"

alias ls "$AQUA_ROOT_DIR/bin/lsd"
alias ll "$AQUA_ROOT_DIR/bin/lsd -l"
alias la "$AQUA_ROOT_DIR/bin/lsd -a"
alias lt "$AQUA_ROOT_DIR/bin/lsd --tree"
alias lla "$AQUA_ROOT_DIR/bin/lsd -la"

alias wget "wget --hsts-file=\"$XDG_DATA_HOME/wget-hsts\""
alias drop_cache "sudo sh -c \"echo 3 >'/proc/sys/vm/drop_caches' && printf '\n%s\n' 'Ram-cache and Swap Cleared'\""

# nvim
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'