[include]
  path = identity_personal

[gpg]
  format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.osRelease.id "fedoraremixforwsl" }}
  program = "/mnt/c/Users/{{ $.wsl_windows_username }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{- else }}
  program = "/opt/1Password/op-ssh-sign"
{{- end }}
  allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers