{{ if eq .chezmoi.os "linux" -}}
# Configure GPG
set -gx GPG_TTY (tty)
{{- end }}

# Set up paths
fish_add_path "/usr/local/sbin"
fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.go/bin"
{{- if $.personal }}
fish_add_path "/mnt/c/Users/russell.hall/AppData/Local/Programs/Microsoft VS Code/bin"
{{ end -}}

set -U fish_greeting

# persist changes
if test -f "$XDG_CACHE_HOME/wal/wal"
  cat $HOME/.cache/wal/wal | xargs wal --backend colorz -qi
end

{{ if $.work -}}
fish_ssh_agent
{{- end }}