---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v4.157.0 # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.47.2
  - name: FiloSottile/age@v1.1.1
  - name: BurntSushi/ripgrep@14.1.0
  - name: muesli/duf@v0.8.1
  - name: sharkdp/fd@v9.0.0
  - name: sharkdp/bat@v0.24.0
  - name: cli/cli@v2.46.0
  - name: cue-lang/cue@v0.8.0
  - name: direnv/direnv@v2.34.0
  - name: junegunn/fzf@0.49.0
  - name: charmbracelet/glow@v1.5.1
  - name: golang/go@1.22.1
  - name: go-task/task@v3.35.1
  - name: golang/go@1.22.1
  - name: go-task/task@v3.35.1
  - name: jqlang/jq@jq-1.7.1
  - name: jesseduffield/lazygit@v0.41.0
  - name: Peltoche/lsd@v1.1.2
  - name: neovim/neovim@v0.9.5
  - name: koalaman/shellcheck@v0.10.0
  - name: mozilla/sops@v3.8.1
  - name: starship/starship@v1.18.1
  - name: hashicorp/packer@v1.10.2
  - name: terraform-linters/tflint@v0.50.3
  - name: mikefarah/yq@v4.43.1
  - name: ajeetdsouza/zoxide@v0.9.4
  - name: aws/aws-cli@2.13.28
  - name: awslabs/amazon-ecr-credential-helper@v0.7.1
  - name: dbrgn/tealdeer@v1.6.1
  - name: sachaos/viddy@v0.4.0
  - name: sigstore/cosign@v2.2.3
  - name: cloudflare/cloudflared@2024.3.0
  - name: aquasecurity/tfsec@v1.28.5
  - name: gruntwork-io/terragrunt@v0.55.20
  - name: iann0036/iamlive@v1.1.8
  - name: terraform-docs/terraform-docs@v0.17.0
{{- if $.kubernetes }}
  - name: fluxcd/flux2@v2.2.3
  - name: helm/helm@v3.14.3
  - name: kubernetes-sigs/krew@v0.4.4
  - name: sbstp/kubie@v0.23.0
  - name: hidetatz/kubecolor@v0.0.25
  - name: kubernetes/kubectl@v1.29.3
  - name: stern/stern@v1.28.0
  - name: budimanjojo/talhelper@v2.3.8
  - name: talos-systems/talos@v1.6.4
  - name: hashicorp/vault@v1.15.6
  - name: derailed/k9s@v0.32.4
  - name: weaveworks/eksctl@v0.175.0
  - name: FairwindsOps/pluto@v5.19.0
  - name: weaveworks/tf-controller/tfctl@v0.15.1
  - name: yannh/kubeconform@v0.6.4
  - name: helm/chart-testing@v3.10.1
  - name: norwoodj/helm-docs@v1.13.1
  - name: kubernetes-sigs/kustomize@kustomize/v5.3.0
{{- end }}
